.recipeContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}

.recipeTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.recipePicture {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .descriptionContainer {
    flex-direction: row;
  }

  .aboutRecipeBox,
  .informationsBox {
    flex: 1;
  }
}
